#img-map-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#img-map-canvas-container{
  display:flex;
  justify-content: center;
  max-height: 800px;
  overflow: scroll;
}

#img-map-canvas {
  border: 1px solid #AAAAAA;
  align-self: flex-start;
}

#img-map-actions, #img-map-form, #img-map-hint {
  display: flex;
  align-items: center;
  padding: 8px 0 0 3px;
  height: auto;
  line-height: 20px;
}

#img-map-actions {
  justify-content: space-between;
}

#img-map-actions .img-map-btn {
  height: 28px;
  border: 1px solid #b3b3b3;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  padding: 4px 6px;
  cursor: pointer;
  box-sizing: border-box;
}

#img-map-actions .img-map-shape-select {
  padding-right: .8px;
}

.img-map-shape-select input[type=radio] {
  margin: 0 auto;
}

#img-map-form .img-map-url-input {
  width: 100%;
  margin-left: 16px;
  padding: 5px 6px;
  border: 1px solid #b3b3b3;
}

i.mce-i-img-map-icon, i.mce-ico.mce-i-img-map-icon {
  background-image: url('mapIcon.svg');
  max-height: 16px;
  max-width: 16px;
  margin-right: 4px;
  padding-right: 0;
}

::placeholder {
  color: #c3c3c3;
}

#img-map-hint {
  visibility: hidden;
  font-weight: bold;
}